/*SIDEBAR*/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
}

.sidebar-right {
	right: $sidebarWidth;
}

.sidebar-left {
	left: $sidebarWidth;
}

.nav-sidebar {
	padding-top: 1em !important;
	
	ul {
		li {
		    height: 20pt;
		    line-height: 20pt;
			padding: 8pt 16pt;
		}
	}
}
