:markdown
	## Getting Started

	You will need to prepare a specified HTML template in order to make it work properly. The code below is just an example from which you can and have to draw inspiration. Along with this plugin you are provided with some demo pages in the [demo](https://github.com/dcdeiv/simpler-sidebar/tree/master/demo) directory.

%pre
	:escaped
		<div id="navbar">
			<!-- #navbar is positioned fixed. -->

			<span id="toggle-sidebar" class="button icon">
				<!--
				It does not matter what element #toggle-sidebar is, give it a selector (in this example #toggle-sidebar).
				-->
			</span>
		</div>

		<div id="sidebar">
			<!--
			simpler-sidebar will handle #sidebar's position.

			To let the content of your sidebar overflow, especially when you have a lot of content in it, you have to add a "wrapper" that wraps all content.
			-->
			<div id="sidebar-wrapper" class="sidebar-wrapper">
				<!--
				Links below are just an example. Give each clickable element, for example links, a class to trigger the closing animation.
				-->
				<a class="close-sidebar" href="#">Link</a>
				<a class="close-sidebar" href="#">Link</a>
				<a class="close-sidebar" href="#">Link</a>
				<a class="close-sidebar" href="#">Link</a>
			</div>
		</div>

:markdown
	If you add the sidebar-wrapper (and you should), remember to give it this style attributes:

%pre
	:escaped
		.sidebar-wrapper {
			position: relative;
			height: 100%;
			overflow: auto;
		}

:markdown
	At the bottom of the web page, just before the `</body>` tag, include the **jQuery** library. If you are interested in better *easing*, include the **jQuery-UI** library too. Eventually include simpler-sidebar.

%pre
	:escaped
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<script src="simpler-sidebar/dist/jquery.simpler-sidebar.min.js"></script>

:markdown
	Call the simpler-sidebar plugin function and fill it with the options you need. Here is an example of some required options. Read the [Options](#options) section for further informations.
