:markdown
	### Options List
	* **opener**: selector for the button/icon that will trigger the animation.
	* **attr**: is the `data-*` attribute that makes the plugin works. If `simplersidebar` is somehow causing you issues, you can change it.
	* **top**: is the `position-top` of the entire plugin. You can choose whatever number you want (better if you choose it according to the navbar's height) or let it be 0 by ignoring it.
	* **animation**:
	  * **duration**: the duration of the animation in milliseconds.
	  * **easing**: the type of animation. For more animations include the *jQuery-UI* library and check out [this page](https://jqueryui.com/easing/). I strongly suggest not to play with easing because they haven't been tested all yet. I suggest to use simple easing like `easeOutQuint`.
	* **sidebar**:
	  * **align**: default is `undefined` which means that is aligned to *right*. If you want to align it to left, write `left`.
	  * **width**: the max width of the sidebar, this option is default to 300, please change it as you please.
	  * **gap**: the gap is the space between the left margin of the sidebar and the left side of the window (and viceversa). It is useful so that the user can click that space to close the sidebar.
	  * **closingLinks**: links or elements that close the sidebar. I suggest to choose a class and give it to all links and other elements such as icons, banner, images, etc, that are links or that are supposed to be clicked. By default it is `a` so every link in the sidebar will close the sidebar. You can use multiple selectors too but, avoid using nested selector otherwise the function will be triggered twice. For example you can select `'a, .close-sidebar'` but if an element is `<a class=".close-sidebar">` the animation will be triggered twice.
	  * **css**: here you can store all css, anyway I suggest not to add more css attributes to the one below.
	    * **zIndex**: by default is is 3000 but you have to change it to the higher z-index number in your css plus 1.
	* **mask**:
	  * **display**: `true` or `false`. `false` will remove this option.
	  * **css**: here you can store all css attributes to give the mask div. However I suggest to do it in your css file except for these below. You can call this div by its data attribute for example: `[data-simplersidebar="mask"]`.
	    * **backgroundColor**: the color of the mask. By default is `'black'`.
	    * **opacity**: by default is 0.5.
	    * **filter**: IE opacity 0.5 = 50 and so on: `'Alpha(opacity=50)'`.
