:markdown
	## Options
	You can access options in two ways.

	The first way is to add an option in the plugin itself. For example:

%pre
	:escaped
		$('#sidebar').simplerSidebar({
			opener: '#toggle-sidebar',
			animation: {
				duration: 1000,
				easing: 'easeInOutBounce'
			},
			sidebar: {
				align: 'right',
				width: 500,
				closingLinks: '.close'
			},
			mask: {
				display: false
			}
		});

:markdown
	The second way to access options is by using the following key:

	`$.fn.simplerSidebar.settings`

	After this key, you have to add the proper option, for example:

	`$.fn.simplerSidebar.settings.animation.duration = 1000`

	All keys must be put above the main plugin function and there should not be duplicates between them since keys override the options in the plugin function. Read the [Options List](#options-list) for further informations about all available options.

	According to the example above, here is the other way to tweak options by using the key:

%pre
	:escaped
		$.fn.simplerSidebar.settings.animation.duration = 1000;
		$.fn.simplerSidebar.settings.animation.easing = 'easeInOutBounce';
		$.fn.simplerSidebar.settings.sidebar.align = 'right';
		$.fn.simplerSidebar.settings.sidebar.width = 500;
		$.fn.simplerSidebar.settings.sidebar.closingLinks = '.close';
		$.fn.simplerSidebar.settings.mask.display = false;

		$('#sidebar').simplerSidebar({
			opener: '#toggle-sidebar',
		});

:markdown
	You can also override multiple options by using the key but it is not safe and it could be buggy, especially when you try to override `sidebar`. However you can safely override `css` such as `$.fn.simplerSidebar.settings.mask.css`, for example:

%pre
	:escaped
		$.fn.simplerSidebar.settings.mask.css = {
			backgroundColor: 'black',
			opacity: 0.5,
			filter: 'Alpha(opacity=50)'
		};
