---
title: simpler-sidebar
description: a simple side nav in jQuery
top: 0
align: right
---
:markdown
	A jQuery plugin that allows to *create a side nav* as in modern mobile apps. It aims to *simplicity* so that *everybody can use it* no matter if expert programmers or not.

	**simpler-sidebar** is a fork of [*simple-sidebar*](https://github.com/dcdeiv/simple-sidebar).

%ul
	%li
		%a{href: '#download'} Download
	%li
		%a{href: '#getting-started'} Getting Started
	%li
		%a{href: '#options'} Options
		%ul
			%li
				%a{href: '#options-list'} Options List
	%li
		%a{href: '#contributing'} Contributing
	%li
		%a{href: '#release-history'} Release History
	%li
		%a{href: '#license'} License

.section.anchor#download
	:markdown
		## Download

		Run one of these commands in your bash according to your needs.

		`git clone https://github.com/dcdeiv/simpler-sidebar.git`

		`bower install simpler-sidebar`

		`npm install simpler-sidebar`

		Or download the latest version from the [releases](https://github.com/dcdeiv/simpler-sidebar/releases) page.

		If you are updating, remember to read the [Release History](#release-history) and to check for incompatibility issues.

.section.anchor#getting-started
	= partial 'partials/index.gettingstarted'

.section.anchor#options
	= partial 'partials/index.options'

.section.anchor#options-list
	= partial 'partials/index.optionslist'

.section.anchor#contributing
	:markdown
		## Contribuiting

		Help me improve simpler-sidebar and make it as perfect as possible, but first read the [contribution guidelines](https://github.com/dcdeiv/simpler-sidebar/blob/master/CONTRIBUTING.md).

.section.anchor#release-history
	= partial 'partials/index.releasehistory'

.section.anchor#license
	:markdown
		## License

		Copyright (c) 2015 - 2016 Davide Di Criscito.

		Dual licensed under the [MIT](https://github.com/dcdeiv/simpler-sidebar/blob/master/LICENSE-MIT) and [GPL-2.0](https://github.com/dcdeiv/simpler-sidebar/blob/master/LICENSE-GPL) licenses.
