@import 'var-orange';

@import '../web-fonts';
@include web-fonts(("Roboto": ("300", "400", "500", "700")), "Cookie");

$path2fonts: '../fonts/';
$glyph-name: 'glyphicons-halflings-regular';
@import '../glyphicons';
@include bootstrap-glyphicons($path2fonts, $glyph-name);

@mixin fontSize($size) {
  font-size: $size;
  -ms-text-size-adjust: $size;
  -webkit-text-size-adjust: $size;
}

@mixin borderRadius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin boxShadow($shadow) {
	-webkit-box-shadow: $shadow;
	-mox-box-shadow: $shadow;
	box-shadow: $shadow;
}

@import '../format';

@import '../inputs';

/*
** template
*/
@import '../template';
@import '../navbar';
@import '../sidebar';
@import '../supportbtn';


/*
** Themes
*/
@import '../theme-accent';

/*
** mobile
*/

.mobile-show {
	display: none;
}
.mobile-hide {
	display: block;
}

@media all and (max-width: $mobileQuery) {
	.mobile-show {
		display: block;
	}
	.mobile-hide {
		display: none;
	}
}
	
	
	
	
	
	
	
	
