@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("http://dcdeiv.github.io/simpler-sidebar/assets/fonts/glyphicons-halflings-regular.eot");
  src: url("http://dcdeiv.github.io/simpler-sidebar/assets/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("http://dcdeiv.github.io/simpler-sidebar/assets/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("http://dcdeiv.github.io/simpler-sidebar/assets/fonts/glyphicons-halflings-regular.woff") format("woff"), url("http://dcdeiv.github.io/simpler-sidebar/assets/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("http://dcdeiv.github.io/simpler-sidebar/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000313}}
.glyphicon {
  position: relative;
  top: 3px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000325}}
.glyphicon-asterisk:before {
  content: "\2a"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000326}}
.glyphicon-plus:before {
  content: "\2b"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000328}}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000329}}
.glyphicon-minus:before {
  content: "\2212"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000330}}
.glyphicon-cloud:before {
  content: "\2601"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000331}}
.glyphicon-envelope:before {
  content: "\2709"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000332}}
.glyphicon-pencil:before {
  content: "\270f"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000333}}
.glyphicon-glass:before {
  content: "\e001"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000334}}
.glyphicon-music:before {
  content: "\e002"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000335}}
.glyphicon-search:before {
  content: "\e003"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000336}}
.glyphicon-heart:before {
  content: "\e005"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000337}}
.glyphicon-star:before {
  content: "\e006"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000338}}
.glyphicon-star-empty:before {
  content: "\e007"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000339}}
.glyphicon-user:before {
  content: "\e008"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000340}}
.glyphicon-film:before {
  content: "\e009"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000341}}
.glyphicon-th-large:before {
  content: "\e010"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000342}}
.glyphicon-th:before {
  content: "\e011"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000343}}
.glyphicon-th-list:before {
  content: "\e012"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000344}}
.glyphicon-ok:before {
  content: "\e013"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000345}}
.glyphicon-remove:before {
  content: "\e014"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000346}}
.glyphicon-zoom-in:before {
  content: "\e015"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000347}}
.glyphicon-zoom-out:before {
  content: "\e016"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000348}}
.glyphicon-off:before {
  content: "\e017"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000349}}
.glyphicon-signal:before {
  content: "\e018"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000350}}
.glyphicon-cog:before {
  content: "\e019"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000351}}
.glyphicon-trash:before {
  content: "\e020"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000352}}
.glyphicon-home:before {
  content: "\e021"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000353}}
.glyphicon-file:before {
  content: "\e022"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000354}}
.glyphicon-time:before {
  content: "\e023"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000355}}
.glyphicon-road:before {
  content: "\e024"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000356}}
.glyphicon-download-alt:before {
  content: "\e025"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000357}}
.glyphicon-download:before {
  content: "\e026"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000358}}
.glyphicon-upload:before {
  content: "\e027"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000359}}
.glyphicon-inbox:before {
  content: "\e028"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000360}}
.glyphicon-play-circle:before {
  content: "\e029"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000361}}
.glyphicon-repeat:before {
  content: "\e030"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000362}}
.glyphicon-refresh:before {
  content: "\e031"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000363}}
.glyphicon-list-alt:before {
  content: "\e032"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000364}}
.glyphicon-lock:before {
  content: "\e033"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000365}}
.glyphicon-flag:before {
  content: "\e034"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000366}}
.glyphicon-headphones:before {
  content: "\e035"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000367}}
.glyphicon-volume-off:before {
  content: "\e036"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000368}}
.glyphicon-volume-down:before {
  content: "\e037"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000369}}
.glyphicon-volume-up:before {
  content: "\e038"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000370}}
.glyphicon-qrcode:before {
  content: "\e039"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000371}}
.glyphicon-barcode:before {
  content: "\e040"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000372}}
.glyphicon-tag:before {
  content: "\e041"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000373}}
.glyphicon-tags:before {
  content: "\e042"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000374}}
.glyphicon-book:before {
  content: "\e043"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000375}}
.glyphicon-bookmark:before {
  content: "\e044"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000376}}
.glyphicon-print:before {
  content: "\e045"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000377}}
.glyphicon-camera:before {
  content: "\e046"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000378}}
.glyphicon-font:before {
  content: "\e047"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000379}}
.glyphicon-bold:before {
  content: "\e048"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000380}}
.glyphicon-italic:before {
  content: "\e049"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000381}}
.glyphicon-text-height:before {
  content: "\e050"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000382}}
.glyphicon-text-width:before {
  content: "\e051"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000383}}
.glyphicon-align-left:before {
  content: "\e052"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000384}}
.glyphicon-align-center:before {
  content: "\e053"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000385}}
.glyphicon-align-right:before {
  content: "\e054"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000386}}
.glyphicon-align-justify:before {
  content: "\e055"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000387}}
.glyphicon-list:before {
  content: "\e056"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000388}}
.glyphicon-indent-left:before {
  content: "\e057"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000389}}
.glyphicon-indent-right:before {
  content: "\e058"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000390}}
.glyphicon-facetime-video:before {
  content: "\e059"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000391}}
.glyphicon-picture:before {
  content: "\e060"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000392}}
.glyphicon-map-marker:before {
  content: "\e062"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000393}}
.glyphicon-adjust:before {
  content: "\e063"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000394}}
.glyphicon-tint:before {
  content: "\e064"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000395}}
.glyphicon-edit:before {
  content: "\e065"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000396}}
.glyphicon-share:before {
  content: "\e066"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000397}}
.glyphicon-check:before {
  content: "\e067"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000398}}
.glyphicon-move:before {
  content: "\e068"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\0000399}}
.glyphicon-step-backward:before {
  content: "\e069"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003100}}
.glyphicon-fast-backward:before {
  content: "\e070"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003101}}
.glyphicon-backward:before {
  content: "\e071"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003102}}
.glyphicon-play:before {
  content: "\e072"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003103}}
.glyphicon-pause:before {
  content: "\e073"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003104}}
.glyphicon-stop:before {
  content: "\e074"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003105}}
.glyphicon-forward:before {
  content: "\e075"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003106}}
.glyphicon-fast-forward:before {
  content: "\e076"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003107}}
.glyphicon-step-forward:before {
  content: "\e077"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003108}}
.glyphicon-eject:before {
  content: "\e078"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003109}}
.glyphicon-chevron-left:before {
  content: "\e079"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003110}}
.glyphicon-chevron-right:before {
  content: "\e080"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003111}}
.glyphicon-plus-sign:before {
  content: "\e081"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003112}}
.glyphicon-minus-sign:before {
  content: "\e082"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003113}}
.glyphicon-remove-sign:before {
  content: "\e083"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003114}}
.glyphicon-ok-sign:before {
  content: "\e084"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003115}}
.glyphicon-question-sign:before {
  content: "\e085"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003116}}
.glyphicon-info-sign:before {
  content: "\e086"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003117}}
.glyphicon-screenshot:before {
  content: "\e087"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003118}}
.glyphicon-remove-circle:before {
  content: "\e088"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003119}}
.glyphicon-ok-circle:before {
  content: "\e089"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003120}}
.glyphicon-ban-circle:before {
  content: "\e090"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003121}}
.glyphicon-arrow-left:before {
  content: "\e091"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003122}}
.glyphicon-arrow-right:before {
  content: "\e092"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003123}}
.glyphicon-arrow-up:before {
  content: "\e093"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003124}}
.glyphicon-arrow-down:before {
  content: "\e094"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003125}}
.glyphicon-share-alt:before {
  content: "\e095"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003126}}
.glyphicon-resize-full:before {
  content: "\e096"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003127}}
.glyphicon-resize-small:before {
  content: "\e097"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003128}}
.glyphicon-exclamation-sign:before {
  content: "\e101"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003129}}
.glyphicon-gift:before {
  content: "\e102"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003130}}
.glyphicon-leaf:before {
  content: "\e103"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003131}}
.glyphicon-fire:before {
  content: "\e104"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003132}}
.glyphicon-eye-open:before {
  content: "\e105"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003133}}
.glyphicon-eye-close:before {
  content: "\e106"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003134}}
.glyphicon-warning-sign:before {
  content: "\e107"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003135}}
.glyphicon-plane:before {
  content: "\e108"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003136}}
.glyphicon-calendar:before {
  content: "\e109"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003137}}
.glyphicon-random:before {
  content: "\e110"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003138}}
.glyphicon-comment:before {
  content: "\e111"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003139}}
.glyphicon-magnet:before {
  content: "\e112"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003140}}
.glyphicon-chevron-up:before {
  content: "\e113"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003141}}
.glyphicon-chevron-down:before {
  content: "\e114"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003142}}
.glyphicon-retweet:before {
  content: "\e115"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003143}}
.glyphicon-shopping-cart:before {
  content: "\e116"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003144}}
.glyphicon-folder-close:before {
  content: "\e117"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003145}}
.glyphicon-folder-open:before {
  content: "\e118"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003146}}
.glyphicon-resize-vertical:before {
  content: "\e119"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003147}}
.glyphicon-resize-horizontal:before {
  content: "\e120"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003148}}
.glyphicon-hdd:before {
  content: "\e121"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003149}}
.glyphicon-bullhorn:before {
  content: "\e122"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003150}}
.glyphicon-bell:before {
  content: "\e123"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003151}}
.glyphicon-certificate:before {
  content: "\e124"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003152}}
.glyphicon-thumbs-up:before {
  content: "\e125"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003153}}
.glyphicon-thumbs-down:before {
  content: "\e126"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003154}}
.glyphicon-hand-right:before {
  content: "\e127"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003155}}
.glyphicon-hand-left:before {
  content: "\e128"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003156}}
.glyphicon-hand-up:before {
  content: "\e129"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003157}}
.glyphicon-hand-down:before {
  content: "\e130"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003158}}
.glyphicon-circle-arrow-right:before {
  content: "\e131"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003159}}
.glyphicon-circle-arrow-left:before {
  content: "\e132"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003160}}
.glyphicon-circle-arrow-up:before {
  content: "\e133"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003161}}
.glyphicon-circle-arrow-down:before {
  content: "\e134"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003162}}
.glyphicon-globe:before {
  content: "\e135"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003163}}
.glyphicon-wrench:before {
  content: "\e136"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003164}}
.glyphicon-tasks:before {
  content: "\e137"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003165}}
.glyphicon-filter:before {
  content: "\e138"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003166}}
.glyphicon-briefcase:before {
  content: "\e139"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003167}}
.glyphicon-fullscreen:before {
  content: "\e140"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003168}}
.glyphicon-dashboard:before {
  content: "\e141"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003169}}
.glyphicon-paperclip:before {
  content: "\e142"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003170}}
.glyphicon-heart-empty:before {
  content: "\e143"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003171}}
.glyphicon-link:before {
  content: "\e144"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003172}}
.glyphicon-phone:before {
  content: "\e145"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003173}}
.glyphicon-pushpin:before {
  content: "\e146"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003174}}
.glyphicon-usd:before {
  content: "\e148"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003175}}
.glyphicon-gbp:before {
  content: "\e149"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003176}}
.glyphicon-sort:before {
  content: "\e150"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003177}}
.glyphicon-sort-by-alphabet:before {
  content: "\e151"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003178}}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003179}}
.glyphicon-sort-by-order:before {
  content: "\e153"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003180}}
.glyphicon-sort-by-order-alt:before {
  content: "\e154"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003181}}
.glyphicon-sort-by-attributes:before {
  content: "\e155"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003182}}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003183}}
.glyphicon-unchecked:before {
  content: "\e157"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003184}}
.glyphicon-expand:before {
  content: "\e158"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003185}}
.glyphicon-collapse-down:before {
  content: "\e159"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003186}}
.glyphicon-collapse-up:before {
  content: "\e160"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003187}}
.glyphicon-log-in:before {
  content: "\e161"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003188}}
.glyphicon-flash:before {
  content: "\e162"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003189}}
.glyphicon-log-out:before {
  content: "\e163"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003190}}
.glyphicon-new-window:before {
  content: "\e164"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003191}}
.glyphicon-record:before {
  content: "\e165"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003192}}
.glyphicon-save:before {
  content: "\e166"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003193}}
.glyphicon-open:before {
  content: "\e167"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003194}}
.glyphicon-saved:before {
  content: "\e168"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003195}}
.glyphicon-import:before {
  content: "\e169"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003196}}
.glyphicon-export:before {
  content: "\e170"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003197}}
.glyphicon-send:before {
  content: "\e171"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003198}}
.glyphicon-floppy-disk:before {
  content: "\e172"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003199}}
.glyphicon-floppy-saved:before {
  content: "\e173"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003200}}
.glyphicon-floppy-remove:before {
  content: "\e174"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003201}}
.glyphicon-floppy-save:before {
  content: "\e175"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003202}}
.glyphicon-floppy-open:before {
  content: "\e176"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003203}}
.glyphicon-credit-card:before {
  content: "\e177"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003204}}
.glyphicon-transfer:before {
  content: "\e178"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003205}}
.glyphicon-cutlery:before {
  content: "\e179"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003206}}
.glyphicon-header:before {
  content: "\e180"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003207}}
.glyphicon-compressed:before {
  content: "\e181"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003208}}
.glyphicon-earphone:before {
  content: "\e182"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003209}}
.glyphicon-phone-alt:before {
  content: "\e183"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003210}}
.glyphicon-tower:before {
  content: "\e184"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003211}}
.glyphicon-stats:before {
  content: "\e185"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003212}}
.glyphicon-sd-video:before {
  content: "\e186"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003213}}
.glyphicon-hd-video:before {
  content: "\e187"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003214}}
.glyphicon-subtitles:before {
  content: "\e188"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003215}}
.glyphicon-sound-stereo:before {
  content: "\e189"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003216}}
.glyphicon-sound-dolby:before {
  content: "\e190"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003217}}
.glyphicon-sound-5-1:before {
  content: "\e191"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003218}}
.glyphicon-sound-6-1:before {
  content: "\e192"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003219}}
.glyphicon-sound-7-1:before {
  content: "\e193"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003220}}
.glyphicon-copyright-mark:before {
  content: "\e194"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003221}}
.glyphicon-registration-mark:before {
  content: "\e195"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003222}}
.glyphicon-cloud-download:before {
  content: "\e197"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003223}}
.glyphicon-cloud-upload:before {
  content: "\e198"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003224}}
.glyphicon-tree-conifer:before {
  content: "\e199"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003225}}
.glyphicon-tree-deciduous:before {
  content: "\e200"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003226}}
.glyphicon-cd:before {
  content: "\e201"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003227}}
.glyphicon-save-file:before {
  content: "\e202"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003228}}
.glyphicon-open-file:before {
  content: "\e203"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003229}}
.glyphicon-level-up:before {
  content: "\e204"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003230}}
.glyphicon-copy:before {
  content: "\e205"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003231}}
.glyphicon-paste:before {
  content: "\e206"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003240}}
.glyphicon-alert:before {
  content: "\e209"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003241}}
.glyphicon-equalizer:before {
  content: "\e210"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003242}}
.glyphicon-king:before {
  content: "\e211"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003243}}
.glyphicon-queen:before {
  content: "\e212"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003244}}
.glyphicon-pawn:before {
  content: "\e213"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003245}}
.glyphicon-bishop:before {
  content: "\e214"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003246}}
.glyphicon-knight:before {
  content: "\e215"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003247}}
.glyphicon-baby-formula:before {
  content: "\e216"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003248}}
.glyphicon-tent:before {
  content: "\26fa"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003249}}
.glyphicon-blackboard:before {
  content: "\e218"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003250}}
.glyphicon-bed:before {
  content: "\e219"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003251}}
.glyphicon-apple:before {
  content: "\f8ff"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003252}}
.glyphicon-erase:before {
  content: "\e221"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003253}}
.glyphicon-hourglass:before {
  content: "\231b"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003254}}
.glyphicon-lamp:before {
  content: "\e223"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003255}}
.glyphicon-duplicate:before {
  content: "\e224"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003256}}
.glyphicon-piggy-bank:before {
  content: "\e225"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003257}}
.glyphicon-scissors:before {
  content: "\e226"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003258}}
.glyphicon-bitcoin:before {
  content: "\e227"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003259}}
.glyphicon-btc:before {
  content: "\e227"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003260}}
.glyphicon-xbt:before {
  content: "\e227"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003261}}
.glyphicon-yen:before {
  content: "\00a5"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003262}}
.glyphicon-jpy:before {
  content: "\00a5"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003263}}
.glyphicon-ruble:before {
  content: "\20bd"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003264}}
.glyphicon-rub:before {
  content: "\20bd"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003265}}
.glyphicon-scale:before {
  content: "\e230"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003266}}
.glyphicon-ice-lolly:before {
  content: "\e231"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003267}}
.glyphicon-ice-lolly-tasted:before {
  content: "\e232"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003268}}
.glyphicon-education:before {
  content: "\e233"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003269}}
.glyphicon-option-horizontal:before {
  content: "\e234"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003270}}
.glyphicon-option-vertical:before {
  content: "\e235"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003271}}
.glyphicon-menu-hamburger:before {
  content: "\e236"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003272}}
.glyphicon-modal-window:before {
  content: "\e237"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003273}}
.glyphicon-oil:before {
  content: "\e238"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003274}}
.glyphicon-grain:before {
  content: "\e239"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003275}}
.glyphicon-sunglasses:before {
  content: "\e240"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003276}}
.glyphicon-text-size:before {
  content: "\e241"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003277}}
.glyphicon-text-color:before {
  content: "\e242"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003278}}
.glyphicon-text-background:before {
  content: "\e243"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003279}}
.glyphicon-object-align-top:before {
  content: "\e244"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003280}}
.glyphicon-object-align-bottom:before {
  content: "\e245"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003281}}
.glyphicon-object-align-horizontal:before {
  content: "\e246"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003282}}
.glyphicon-object-align-left:before {
  content: "\e247"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003283}}
.glyphicon-object-align-vertical:before {
  content: "\e248"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003284}}
.glyphicon-object-align-right:before {
  content: "\e249"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003285}}
.glyphicon-triangle-right:before {
  content: "\e250"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003286}}
.glyphicon-triangle-left:before {
  content: "\e251"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003287}}
.glyphicon-triangle-bottom:before {
  content: "\e252"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003288}}
.glyphicon-triangle-top:before {
  content: "\e253"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003289}}
.glyphicon-console:before {
  content: "\e254"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003290}}
.glyphicon-superscript:before {
  content: "\e255"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003291}}
.glyphicon-subscript:before {
  content: "\e256"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003292}}
.glyphicon-menu-left:before {
  content: "\e257"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003293}}
.glyphicon-menu-right:before {
  content: "\e258"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003294}}
.glyphicon-menu-down:before {
  content: "\e259"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/dcdeiv\/git\/simpler-sidebar\/assets\/css\/sass\/glyphicons\.scss}line{font-family:\00003295}}
.glyphicon-menu-up:before {
  content: "\e260"; }
