// VARIABLES

$roboto: 'Roboto', Arial, Helvetica, sans-serif;
$roboto-condensed: 'Roboto Condensed', Arial, Helvetica, sans-serif;
$roboto-mono: 'Roboto Mono', Courier, monospace;

//TYPOGRAPHY
$dark-primary-color: #D32F2F;
$primary-color: #F44336;
$icons: #FFFFFF;
$primary-text: #212121;
$secondary-text: #727272;
