---
title: simpler-sidebar - left-top
description: left-top
top: 46
align: left
---
:markdown
	Read the entire set-up guide [here](http://dcdeiv.github.io/simpler-sidebar/index.html#getting-started)

	## simpler-sidebar Right options:

%pre
	:escaped

		$( document ).ready(function() {
		  $( '#sidebar' ).simplerSidebar({
		    top: 46,
		    opener: '#toggle-sidebar',
		    attr: 'simplersidebar',
		    animation: {
		      easing: 'easeOutQuint'
		    },
		    sidebar: {
		      align: 'left',
		      width: 300,
		      closingLinks: '.close-sb',
		    }
		  });
		});
